<ul class="posts">
    {% for p in posts %}
    <li class="post">
        <div class="post-date">
            {{ moment(p.pub_time).fromNow()}}
        </div>
        <div class="post-body">
            {% if p.body_html %}
            {{ p.body_html|safe }}
            {% else %}
            {{ p.body|safe }}
            {% endif %}
        </div>
        <div class="post-footer">
            <a href="{{ url_for('.post',id=p.id)}}">
                <span class="label laber-default">Test</span>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
