<!doctype html>
<html lang="zh-CN">

  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="applicable-device" content="pc,mobile">
    <title>{% block title %}Document{% endblock title %}</title>

    {% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{url_for('main.pygments_css')}}" rel="stylesheet" />
    <style type="text/css">
     .text {
       font-size: 18px;
     }
    </style>
    {% assets "all_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %} {% endblock styles %} {% endblock head %}

  </head>

  <body>
    {% block content %} {% block navbar %}
    <nav class="ui borderless menu">
      <div class="ui container">
        <div class="header item">
          <a href="/1" title="lonely code"><img class="ui logo" src="" alt=""></a>
        </div>
        <a href="/1" class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/1">BLOG HOME</a>
        <a class="item" href="/archives" target="_blank">归档</a>
        <a class="item" href="/categories" target="_blank">分类</a>
        <a class="item" href="/tags" target="_blank">标签</a>
        <div class="right menu">
          <div class="item">
            <div class="ui search">
              <div class="ui left icon input">
                <form style="display:inline" method="post" action="{{url_for('main.search_results')}}" name="search">
                  {{ g.search_form.hidden_tag() }} {{ g.search_form.csrf_token }}
                  <div class="ui icon input">
                    {{ g.search_form.search(class="prompt",size=20,placeholder="搜索") }}
                      <!-- <i class="search icon"></i> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
          <a class="item" href="http://github.com/LonglyCode">
            <i class="github icon"></i>
          </a>
          <a class="item" href="/feed/">
            <i class="feed icon"></i>
          </a>

          {% if current_user.username %}
          <div class="item" style="font-family: arial,'Hiragino Sans GB','微软雅黑',MicrosoftYaHei,'宋体',Tahoma,Arial,Helvetica,STHeiti;">
            <div class="ui basic teal inverted button">
              <a href="{{ url_for('admin.index') }}">{{ current_user.username }}</a>
            </div>
          </div>
          <div class="item">
            <div class="ui basic teal inverted button">
              <a href="{{ url_for('auth.logout') }}">退出</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% endblock navbar %}
    <div class="ui container">

      {% for message in get_flashed_messages() %}
      <div class="ui alert alert-warning">
        <button type="ui button" class="close" data-dismiss="alert">&times;</button> {{ message }}
      </div>
      {% endfor %} {% block page_content %}{% endblock page_content %}

      <footer>
        {% block footer %}
        <div class="ui center aligned footer container">
          <hr>
          <p>
            Copyright <i class="copyright icon"></i> 2016-2017 by WTXCook,licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
          </p>
        </div>
        {% endblock footer %}
      </footer>

      {% block scripts %} {% assets "all_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %} {{moment.include_moment()}} {{ moment.lang('zh-CN')}} {% endblock scripts %}
    </div>
    {% endblock content %}
  </body>

</html>
