{% extends 'base.html' %}

{% block title %}{{ post.title}}{% endblock title %}
{% block page_content %}
<div class="ui container stackable grid">
    <div class="articles twelve wide column">
        <div class="ui segment">

            <a class="ui red right ribbon label" href="{{ url_for('main.category', name=post.category.name) }}" target="_blank"><i class="{{ post.category.icon }} icon"></i>{{ post.category.name}}</a>
            <div class="post">
                <div class="header"><a href="{{ post.link }}"><h1>{{ post.title }}</h1></a></div>
                <hr>
                <div class="post-content">
                    {{ post.body_html | safe }}
                    <div class="ui small two item menu">
                        {% if post.get_prev %}
                        <a class="item" href="{{ post.get_prev.link }}">
                            {{post.get_prev.title}}(上一篇)
                            <!-- 上一篇 -->
                        </a>
                        {% endif %}
                        {% if post.get_next %}
                        <a class="item" href="{{ post.get_next.link }}">
                            {{post.get_next.title}}(下一篇)
                            <!-- 下一篇 -->
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="four wide column">
        <div class="ui segment">
            <div class="ui pointing secondary menu section-title">
                <div class="item">文章信息</div>
            </div>

            <div class="ui small header">
                <date class="date">{{moment(post.pub_time).fromNow()}}</date>
            </div>
            <div class="ui small header">
                <div class="tags">Tags</div>
            </div>
            <div class="ui labels">
                <div class="ui relaxed divided animated list">
                    <div class="item">
                        {% for tag in post.tags %}
                        <a href="{{ url_for('main.tag',name=tag.name) }}" class="ui label">{{ tag.name }}<sup>{{tag.posts|count()}}<sup></a>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ui small header">
                <div class="category">Category</div>
            </div>
            <div class="ui labels">
                <div class="ui icon">
                    <i class="feed icon"></i>
                    <a href="{{ url_for('main.category',name=post.category.name) }}" class="ui label">{{ post.category.name }} </a>
                </div>
            </div>
        </div>
    </aside>

</div>

{% endblock page_content %}
