{% extends 'base.html' %}

{% block title %}{{ post.title}}{% endblock title %}
{% block page_content %}
<div class="ui container stackable grid">
          <div class="articles eleven wide column">
              <div class="ui segment">

                  <a class="ui red right ribbon label" href="{{ url_for('main.category', slug=post.category.slug) }}" target="_blank"><i class="{{ post.category.icon }} icon"></i>{{ post.category.name}}</a>
                  <div class="post">
              <div class="header"><a href="{{ post.link }}"><h1>{{ post.title }}</h1></a></div>
              <div class="ui feed">
                  <div class="event">
                      <div class="content">
                          <span class="date">{{moment(post.pub_time).fromNow()}}</span>
                          {% for tag in post.tags %}
                          <span class="category date"><i class="tag icon"></i>{{ tag.name }}</span>
                          {% endfor %}
                      </div>
                  </div>
              </div>
              <div class="post-content">
                  {{ post.body_html | safe }}
                  <div class="ui divider"></div>
                  <div class="nearby">
                    {% if post.get_prev %}
                      <div class="ui animated basic button teal" data-content="{{ post.get_prev.title }}" data-variation="wide">
                          <div class="visible content">上一篇</div>
                          <a href="{{ post.get_prev.link }}"><div class="hidden content">
                              <i class="left arrow icon"></i>
                          </div></a>
                      </div>
                    {% endif %}

                    {% if post.get_next %}
                      <div class="ui animated basic button teal" data-content="{{ post.get_next.title }}" data-variation="wide">
                          <div class="visible content">下一篇</div>
                          <a href="{{ post.get_next.link }}"><div class="hidden content">
                              <i class="right arrow icon"></i>
                          </div></a>
                      </div>
                    {% endif %}

                      <div class="share-post ui button teal icon basic">
                          <i class="share alternate icon"></i>
                      </div>
                      <div class="ui popup">
                          <div class='bdsharebuttonbox bdshare-button-style1-24' data-bd-bind='1444833783821'>
                              <a href='#' class='item bds_qzone' data-cmd='qzone' title='分享到QQ空间'></a>
                              <a href='#' class='item bds_tsina' data-cmd='tsina' title='分享到新浪微博'></a>
                              <a href='#' class='item bds_tqq' data-cmd='tqq' title='分享到腾讯微博'></a>
                              <a href='#' class='item bds_renren' data-cmd='renren' title='分享到人人网'></a>
                              <a href='#' class='item bds_weixin' data-cmd='weixin' title='分享到微信'></a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
        </div>
      </div>
{% endblock page_content %}
